/* dot */
.dot p::before {
  content: "";
  display: block;
  position: absolute;
  width: 3px;
  height: 2px;
  top: 10px;
  left: -10px;
  background-image: url("../images/blt/blt01.png");
}

/* tableStyle */
.tableStyle {
  display: flex;
  border-top: 1px solid #bc6868;
  margin-bottom: 15px;
}
.tableStyle1 .item {
  width: 33.333%;
  display: flex;
  flex-direction: column;
}
.tableStyle1 .item .head {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 18px 30px;
  background-color: #fcf6f6;
  border-left: 1px solid #e8d7d7;
  border-bottom: 1px solid #e8d7d7;
}
.tableStyle1 .item:first-child .head {
  border-left: unset;
}
.tableStyle1 .item .head h3 {
  font-size: 18px;
  font-weight: 500;
}
.tableStyle1 .item .head p {
  color: #a68080 !important;
  font-size: 16px !important;
}
.tableStyle .item .body {
  display: flex;
  justify-content: center;
  text-align: left;
  min-height: 160px;
  height: 10vw;
  padding: 18px 30px;
  border-left: 1px solid #e8d7d7;
  border-bottom: 1px solid #e8d7d7;
}
.tableStyle1 .item:first-child .body {
  border-left: unset;
}
.tableStyle1 .item .body p {
  font-size: 17px !important;
  font-weight: 400 !important;
}
@media screen and (max-width: 767px) {
  .tableStyle {
    flex-direction: column;
  }
  .tableStyle1 .item {
    width: 100%;
    flex-direction: row;
  }
  .tableStyle1 .item .head {
    width: 30%;
  }
  .tableStyle1 .item .head h3 {
    white-space: nowrap;
  }
  .tableStyle1 .item .body {
    width: 70%;
    align-items: center;
  }
  .tableStyle1 .item:first-child .body {
    border-left: 1px solid #e8d7d7;
  }
  .tableStyle1 .item .head {
    border-left: unset;
  }
}

/* tblType01 */
.tblType01 {
  border-top: 1px solid #e8d7d7;
  position: relative;
}
.tblType01 > table > thead > tr {
  border-bottom: 1px solid #e8d7d7;
}
.tblType01 > table > tbody > tr {
  border-bottom: 1px solid #e5e5e5;
}
.tblType01 > table > thead > tr > th {
  border-right: 1px solid #e8d7d7;
}
.tblType01 > table > tbody > tr > th,
.tblType01 > table > tbody > tr > td {
  border-right: 1px solid #e5e5e5;
  padding: 30px 40px 30px 20px;
  text-align: left;
}
.tblType01 > table > thead > tr > th,
.tblType01 > table > tbody > tr > th {
  font-size: 15px;
  font-weight: 300;
}
.tblType01 > table > thead > tr > th {
  font-size: 18px;
  font-weight: 500;
  padding: 18px 0;
  background-color: #fcf6f6;
}
.tblType01 > table > tbody > tr > th {
  background-color: #f3f5f7;
}
[class^="tblType"] th:last-child,
[class^="tblType"] td:last-child {
  border-right: none;
}
[class^="tblType"].type2 table th,
[class^="tblType"].type2 table td {
  text-align: center;
}
/* tblType01 */
.bltList01 > li {
  background: url("../images/blt/blt01.png") no-repeat 2px 10px;
  padding: 0 0 0 10px;
  margin-bottom: 12px;
  font-size: 15px;
  text-align-last: left;
}
/* tblType02 */
.tblType02 {
  border-top: 1px solid #bc6868;
  position: relative;
}
.tblType02 > table > thead > tr {
  border-bottom: 1px solid #e8d7d7;
}
.tblType02 > table > tbody > tr {
  border-bottom: 1px solid #e5e5e5;
}
.tblType02 > table > thead > tr > th {
  border-right: 1px solid #e8d7d7;
}
.tblType02 > table > tbody > tr > th,
.tblType02 > table > tbody > tr > td {
  border-right: 1px solid #e5e5e5;
  padding: 30px 18px;
  text-align: left;
}
.tblType02 > table > thead > tr > th,
.tblType02 > table > tbody > tr > th {
  font-size: 15px;
  font-weight: 300;
}
.tblType02 > table > thead > tr > th {
  font-size: 18px;
  font-weight: 500;
  padding: 18px 0;
  background-color: #fcf6f6;
}
.tblType02 > table > tbody > tr > th {
  background-color: #f3f5f7;
}
.tblType02.bgType01 > table > tbody > tr > th {
  background-color: #fcf6f6;
}
[class^="tblType"] th:last-child,
[class^="tblType"] td:last-child {
  border-right: none;
}
[class^="tblType"].type2 table th,
[class^="tblType"].type2 table td {
  text-align: center;
}