/* pc, mobile */
.mobile {display: none;}

@media screen and (max-width: 767px) {
  #contents {padding-top: 0;}
  .pc {display: none;}
  .mobile {display: block !important;}
}
/* map */
.mapWrap {padding: 0 15px;}
#map {width: 100%; height: 400px; margin-bottom: 50px;}

/* dot */
.dot p::before {
  content: "";
  display: block;
  position: absolute;
  width: 3px;
  height: 2px;
  top: 10px;
  left: -10px;
  background-image: url("../images/blt/blt01.png");
}
/* 2022-11-11 로망제세 bltList04 추가 */
.bltList04 > li, .blt04 {
  background: url("../images/blt/blt04.png") no-repeat 2px 14px;
  padding: 5px 0 0px 13px;
}
[class^="bltList"] li + li {
  margin-top: 7px;
}
/* tab */
.tab1 {
  justify-content: center;
}
.tab1 li {
  width: 194px;
  border-radius: 30px 0 30px 30px;
  margin: 0 7.5px;
}
.tab1 li.on a,
.tab1 li:hover a {
  background: #e42c2a;
  color: #fff;
}
.tab1 li a {
  display: block;
  margin: 0 auto !important;
  color: #696969;
  border: 1px solid #e42c2a;
  border-radius: inherit;
  background: #fff;
  width: inherit;
  height: 52px;
  font-size: 18px;
  line-height: 52px;
  font-weight: 400;
}
.tab2Wrap {justify-content: center;}
.tab2Wrap .tab2 {
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.tab2Wrap .tab2 li {
  flex-basis: 33.33%;
  padding: 7.5px;
  border-radius: 30px 0 30px 30px;
}
.tab2Wrap .tab2 li.on a,
.tab2Wrap .tab2 li:hover a {
  background: #e42c2a;
  color: #fff;
}
.tab2Wrap .tab2 li a {
  display: block;
  margin: 0 auto !important;
  color: #696969;
  border: 1px solid #e42c2a;
  border-radius: inherit;
  background: #fff;
  height: 52px;
  font-size: 18px;
  line-height: 52px;
  font-weight: 400;
}
@media screen and (max-width: 1179px) {
  .tab1 {
    flex-wrap: wrap;
  }
  .tab1 li {
    flex-basis: 45%;
    width: 100%;
  }
  .tab1 li:nth-child(1),
  .tab1 li:nth-child(3) {
    margin: 0 7px 0 0;
  }
  .tab1 li:nth-child(2),
  .tab1 li:nth-child(4) {
    margin: 0 0 0 7px;
  }
  .tab1 li:nth-child(3),
  .tab1 li:nth-child(4) {
    margin-top: 14px;
  }
  .tab1 li a {
    font-size: 16px;
  }
  .tab2Wrap .tab2 {
    width: 100%;
  }
  .tab2Wrap .tab2 li {
    flex-basis: 50%;
  }
}
/* tableStyle */
.tableStyle {
  display: flex;
  border-top: 1px solid #bc6868;
  margin-bottom: 15px;
}
.tableStyle1 .item {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.tableStyle1 .item .head {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 18px 30px;
  background-color: #fcf6f6;
  border-left: 1px solid #e8d7d7;
  border-bottom: 1px solid #e8d7d7;
}
.tableStyle1 .item:first-child .head {
  border-left: unset;
}
.tableStyle1 .item .head h3 {
  font-size: 18px;
  font-weight: 500;
}
.tableStyle1 .item .head p {
  color: #a68080 !important;
  font-size: 16px !important;
}
.tableStyle .item .body {
  display: flex;
  flex: 1;
  justify-content: center;
  text-align: left;
  padding: 18px 30px;
  border-left: 1px solid #e8d7d7;
  border-bottom: 1px solid #e8d7d7;
}
.tableStyle1 .item:first-child .body {
  border-left: unset;
}
.tableStyle1 .item .body p {
  font-size: 17px !important;
  font-weight: 400 !important;
}
@media screen and (max-width: 767px) {
  .tableStyle {
    flex-direction: column;
    border-top: unset;
    margin-bottom: unset;
  }
  .tableStyle1 .item {
    border-top: 1px solid #bc6868;
    margin-bottom: 20px;
  }
  .tableStyle1 .item .head {
    border-bottom: 1px solid #e9e9e9;
    border-left: unset;
    flex-direction: row;
  }
  .tableStyle1 .item .head p {
    margin-left: 10px;
    font-size: 18px !important;
  }
  .tableStyle1 .item .body {
    border-left: unset;
    padding: 25px 19px;
  }
}
/* profile */
.profileWrap {
  display: flex;
  width: 100%;
}
.profileWrap .profile {
  min-height: 590px;
  position: relative;
  flex: 1;
  background: #fafafa;
}
.profileWrap .profile:nth-child(1) {
  margin-right: 10px;
}
.profileWrap .profile:nth-child(2) {
  margin-left: 10px;
}
.profileWrap .profile:hover {
  border: 4px solid #9a7f62;
}
.profileWrap .profile > a {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.profileWrap .profile .ctaImg {
  position: relative;
  height: 60%;
  border: 1px solid #ead3d5;
  background: #f6f2ef;
  overflow: hidden;
}
.profileWrap .profile .ctaImg::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-size: contain;
  background-position: bottom;
  background-repeat: no-repeat;
}
.profileWrap .profile .ctaImg1::before {
  background-image: url("../images/contents/ctaImg1.png");
}
.profileWrap .profile .ctaImg2::before {
  background-image: url("../images/contents/ctaImg2.png");
}
.profileWrap .profile .ctaIntroduce {
  height: 40%;
  white-space: nowrap;
  text-align: left;
  padding: 40px;
  border: 1px solid #ececec;
  border-top: unset;
}
.profileWrap .profile .ctaIntroduce > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.profileWrap .profile .ctaIntroduce > p {
  font-size: 16px !important;
  color: #888 !important;
  font-weight: 400 !important;
  margin-top: 20px !important;
} 
.profileWrap .profile .ctaIntroduce .name {
  position: relative;
  font-size: 30px !important;
  font-weight: 600 !important;
}
.profileWrap .profile .ctaIntroduce .name span {
  color: #9a7f62 !important;
  font-size: 20px !important;
}
.profileWrap .profile .ctaIntroduce .cross {
  position: relative;
  width: 30px;
  height: 2px;
  background: #bebebe;
}
.profileWrap .profile:hover .ctaIntroduce .cross {
  background: #9a7f62;
}
.profileWrap .profile .ctaIntroduce .cross::before {
  content: "";
  display: block;
  width: 2px;
  height: 30px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: #bebebe;
}
.profileWrap .profile:hover .ctaIntroduce .cross::before {
  background: #9a7f62;
}
.profileWrap .profile .ctaIntroduce .name::before {
  content: "";
  display: block;
  width: 77px;
  height: 1px;
  background: #c7c7c7;
  position: absolute;
  left: 0;
  top: 100%;
} 
@media screen and (max-width: 908px) {
  .profileWrap {flex-direction: column;}
  .profileWrap .profile:nth-child(1) {
    margin-right: 0;
  }
  .profileWrap .profile:nth-child(2) {
    margin-left: 0;
  }
  
  .profileWrap .profile {min-height: unset;}
  .profileWrap .profile .ctaImg {height: 300px;}
  .profileWrap .profile .ctaIntroduce {height: unset; white-space: unset;}
}
/* consultingLink */
.consultingLink {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  height: 210px;
  flex-direction: column;
  background: #000;
}
.consultingLink::before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-image: url("../images/contents/cont_background1.png");
  background-size: cover;
}
.consultingLink li {
  margin: 0 20px 30px;
  margin-bottom: 30px;
}
.consultingLink li p {
  color: #fff !important;
  font-size: 23px !important;
}
.consultingLink li:nth-child(1) {
  margin-top: 20px;
  z-index: 1;
}
.consultingLink li:nth-child(2) {
  position: relative;
  width: 185px;
  height: 45px;
  border-radius: 30px;
  background: #fff;
  z-index: 1;
}
.consultingLink li:nth-child(2) a {
  position: absolute;
  top: -5%;
  display: block;
  border-radius: 30px;
  width: 100%;
  line-height: 45px;
  background: #d02220;
  font-size: 19px;
  font-weight: 700;
  color: #fff;
}
.consultingLink li:nth-child(2) a:hover {
  top: 0;
  box-shadow: inset 1px 3px 3px #8f0f0d;
}
@media screen and (max-width: 767px) {
  .consultingLink {
    height: 360px;
  }
  .consultingLink li {
    margin: 0 45px 30px;
  }
  .consultingLink li p:nth-child(2) {
    margin-top: 25px;
  }
  .consultingLink::before {
    background-position: center;
  }
}
@media screen and (max-width: 399px) {
  .consultingLink {height: 390px;}
}

/* tblType01 */
.tblType01 {
  border-top: 1px solid #e8d7d7;
  position: relative;
}
.tblType01 > table > thead > tr {
  border-bottom: 1px solid #e8d7d7;
}
.tblType01 > table > tbody > tr {
  border-bottom: 1px solid #e5e5e5;
}
.tblType01 > table > thead > tr > th {
  border-right: 1px solid #e8d7d7;
}
.tblType01 > table > tbody > tr > th,
.tblType01 > table > tbody > tr > td {
  border-right: 1px solid #e5e5e5;
  padding: 30px 40px 30px 20px;
  text-align: left;
}
.tblType01 > table > thead > tr > th,
.tblType01 > table > tbody > tr > th {
  font-size: 15px;
  font-weight: 300;
}
.tblType01 > table > thead > tr > th {
  font-size: 18px;
  font-weight: 500;
  padding: 18px 0;
  background-color: #fcf6f6;
}
.tblType01 > table > tbody > tr > th {
  background-color: #f3f5f7;
}
[class^="tblType"] th:last-child,
[class^="tblType"] td:last-child {
  border-right: none;
}
[class^="tblType"].type2 table th,
[class^="tblType"].type2 table td {
  text-align: center;
}
/* tblType01 */
.bltList01 > li {
  background: url("../images/blt/blt01.png") no-repeat 2px 10px;
  padding: 0 0 0 10px;
  margin-bottom: 12px;
  font-size: 15px;
  text-align: left;
}
/* tblType02 */
.tblType02 {
  border-top: 1px solid #bc6868;
  position: relative;
}
.tblType02 > table > thead > tr {
  border-bottom: 1px solid #e8d7d7;
}
.tblType02 > table > tbody > tr {
  border-bottom: 1px solid #e5e5e5;
}
.tblType02 > table > thead > tr > th {
  border-right: 1px solid #e8d7d7;
}
.tblType02 > table > tbody > tr > th,
.tblType02 > table > tbody > tr > td {
  border-right: 1px solid #e5e5e5;
  padding: 30px 18px;
  text-align: left;
}
.tblType02 > table > thead > tr > th,
.tblType02 > table > tbody > tr > th {
  font-size: 15px;
  font-weight: 300;
}
.tblType02 > table > thead > tr > th {
  font-size: 18px;
  font-weight: 500;
  padding: 18px 0;
  background-color: #fcf6f6;
}
.tblType02 > table > tbody > tr > th {
  background-color: #f3f5f7;
}
.tblType02.bgType01 > table > tbody > tr > th {
  background-color: #fcf6f6;
}
[class^="tblType"] th:last-child,
[class^="tblType"] td:last-child {
  border-right: none;
}
[class^="tblType"].type2 table th,
[class^="tblType"].type2 table td {
  text-align: center;
}