@charset "utf-8";
@import url('./common.css');
@import url('./layout.css');
@import url('./object.css');

/* 로망 소개 */
/* 01romangIntroduce_01 */
.container.pz > .contBox {
  padding: 70px 0 0 !important;
}
.rI01 .cont1 {
  position: relative;
  display: flex;
  margin-bottom: 0 !important;
  overflow: hidden;
}
.rI01 .cont1 > img {
  width: 39%;
  position: absolute;
  height: inherit;
  left: 3%;
  bottom: -7%;
}
.rI01 .cont1 .left {
  height: inherit;
  background-image: url("../images/contents/cont_background2.png");
  background-repeat: no-repeat;
  background-size: cover;
  flex-basis: 35%;
}
.rI01 .cont1 .right {
  background: #fafafa;
  padding: 100px 65px;
  flex-grow: 1;
  flex-basis: 65%;
  text-align: left;
  word-break: keep-all;
}
.rI01 .cont1 .right > h2 {
  font-size: 33px;
  line-height: 1.3;
  font-weight: 600;
  margin-bottom: 40px;
  padding-bottom: 10px;
  border-bottom: 1px solid #c8c8c8;
}
.rI01 .cont1 .right > h3 {
  font-size: 27px;
  font-weight: 400;
  line-height: 1.2;
  margin-bottom: 40px;
  padding-right: 140px;
}
.rI01 .cont1 .right > h3 > strong {
  font-size: 31px;
  font-weight: 600;
}
.rI01 .cont1 .right > p {
  font-size: 17px !important;
  margin-bottom: 18px;
}
.rI01 .cont1 .right > p.tar.mt70 {
  margin-top: 70px;
}
.rI01 .cont1 .right > p.tar {
  text-align: right;
  font-size: 18px !important;
}
.rI01 .cont1 .right > p.tar.brown {
  font-weight: 500 !important;
  color: #7e4d29 !important;
}
.rI01 .cont1 .right > p.tar > span {
  color: #d6312f;
  font-weight: 500;
}
.rI01 .cont1 .right > p.tar > strong {
  font-size: 28px;
  font-weight: 600;
}
@media screen and (max-width: 767px) {
  .rI01 .cont1 {
    margin: 0 !important;
    flex-direction: column-reverse;
  }
  .rI01 .cont1 > img {
    width: 42%;
    bottom: -4%;
  }
  .rI01 .cont1 .left {
    min-height: 500px;
  }
  .rI01 .cont1 .right {
    padding: 100px 15px 0;
  }
  .rI01 .cont1 .right > h3 {
    padding-right: 70px;
  }
  .rI01 .cont1 .right > p.tar.last {
    padding-left: 100px;
  }
}
@media screen and (max-width: 419px) {
  .rI01 .cont1 > img {
    width: 69%;
    bottom: -4%;
  }
}
@media screen and (max-width: 389px) {
  .rI01 .cont1 > img {
    width: 78%;
  }
}
/* 01romangIntroduce_01_Slogan */
.rI01_Slogan .cont1 {
  display: block !important;
}
.rI01_Slogan .cont1 > .p1 {
  font-size: 34px !important;
  font-weight: 400 !important;
  margin-bottom: 70px;
}
.rI01_Slogan .cont1 > img {
  margin-bottom: 70px;
}
.rI01_Slogan .cont1 > .p {
  font-weight: 400 !important;
  font-size: 19px !important;
}
.rI01_Slogan .cont1 > .p.mb25 {
  margin-bottom: 25px;
}
.rI01_Slogan .cont1 > .p2 {
  font-size: 25px !important;
  font-weight: 500 !important;
}
@media screen and (max-width: 767px) {
  .rI01_Slogan .cont1 > .p1 {font-size: 30px !important; margin-bottom: 35px;}
  .rI01_Slogan .cont1 > img {margin-bottom: 35px;}
}
/* 01romangIntroduce_01_CI */
.rI01_CI .cont1 {
  display: block !important;
}
.rI01_CI .cont1 > h2 {font-size: 34px; font-weight: 400; margin-bottom: 30px;}
.rI01_CI .cont1 > h2 > span {color: #d01210;}
.rI01_CI .cont1 > p {font-size: 19px !important; font-weight: 400 !important;}
.rI01_CI .cont1 > p.p1 {font-size: 25px !important; font-weight: 500 !important; margin: 30px 0 100px;}
@media screen and (max-width: 767px) {
  .rI01_CI .cont1 > p.p1 {margin-bottom: 40px;}
}
/* 01romangIntroduce_03 */
.rI03 .cont1 {
  justify-content: space-between;
}
.rI03 .cont1 .left {
  text-align: left;
}
.rI03 .cont1 .left h2 {
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 30px;
}
.rI03 .cont1 .left p {
  margin-bottom: 30px;
}
.rI03 .cont1 .right {
  display: flex;
  justify-content: center;
}
.rI03 .cont2 figure {display: flex; justify-content: center;}
.rI03 .cont2, 
.rI03 .cont3,
.rI03 .cont4 {
  flex-direction: column;
}
.rI03 .cont2 p, 
.rI03 .cont3 p,
.rI03 .cont4 p {
  padding-top: 50px;
}
.rI03 .cont4 .tableStyle {border-top: 1px solid #e8d7d7;}
.rI03 .cont4 .tableStyle .item .body {flex: 1;}
.rI03 .cont4 .tableStyle .item .body.img {
  min-height: 100px;
  max-height: 100px;
  background-repeat: no-repeat;
  background-position: center;
}
.rI03 .cont4 .tableStyle .item .body.img.img1 {background-image: url("../images/contents/table_img1.png");}
.rI03 .cont4 .tableStyle .item .body.img.img2 {background-image: url("../images/contents/table_img2.png");}
.rI03 .cont4 .tableStyle .item .body.img.img3 {background-image: url("../images/contents/table_img3.png");}
.rI03 .cont4 .tableStyle .item .body.img.img4 {background-image: url("../images/contents/table_img4.png");}
.rI03 .cont4 .tableStyle .item .body.img.img5 {background-image: url("../images/contents/table_img5.png");}
.rI03 .cont4 .tableStyle .item .body.img.img6 {background-image: url("../images/contents/table_img6.png");}
@media screen and (max-width: 1599px) {
  .rI03 .cont1 {
    flex-direction: column;
  }
  .rI03 .cont1 .left {
    text-align: center;
  }
  .rI03 .cont1 .left h2 {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  .rI03 .cont1 .left p {
    margin-bottom: 20px;
  }
  .rI03 .cont1 .left h2 br,
  .rI03 .cont1 .left p br {
    display: none;
  }
  .rI03 .cont1 .right {
    padding-top: 50px;
  }
  .rI03 .cont2,
  .rI03 .cont3 {
    margin: 0 20px;
  }
}
@media screen and (max-width: 1179px) {
  .rI03 .cont1 {flex-direction: row;}
  .rI03 .cont1 .left {text-align: left;}
  .rI03 .cont1 .left h2 {justify-content: flex-start;}
  .rI03 .cont1 .left h2 br,
  .rI03 .cont1 .left p br {display: block;}
  .rI03 .cont1 .right { padding-top: 0;}
  .rI03 .cont4 .tableStyle .item .body.img {background-size: 50%;}
  .rI03 .cont4 .tableStyle .item .body.img.img1 {background-image: url("../images/contents/table_img1_M.png");}
  .rI03 .cont4 .tableStyle .item .body.img.img2 {background-image: url("../images/contents/table_img2_M.png");}
  .rI03 .cont4 .tableStyle .item .body.img.img3 {background-image: url("../images/contents/table_img3_M.png");}
  .rI03 .cont4 .tableStyle .item .body.img.img4 {background-image: url("../images/contents/table_img4_M.png");}
  .rI03 .cont4 .tableStyle .item .body.img.img5 {background-image: url("../images/contents/table_img5_M.png");}
  .rI03 .cont4 .tableStyle .item .body.img.img6 {background-image: url("../images/contents/table_img6_M.png"); background-size: 30%;}
}
@media screen and (max-width: 767px) {
  .rI03 .cont1 {flex-direction: column;}
  .rI03 .cont1 .left h2 br,
  .rI03 .cont1 .left p br {display: none;}
  .rI03 .cont1 .right {padding-top: 30px;}
  .rI03 .cont2 > p,
  .rI03 .cont3 > p,
  .rI03 .cont4 > p {font-weight: 400 !important;}
  .rI03 .cont2 > p br {display: none;}
  .rI03 .cont4 .tableStyle .item .body.text {min-height: unset;}
  .rI03 .cont4 > p {padding-top: 30px;}
  .rI03 .cont4 .tableStyle .item .body.img {background-size: 30%;}
  .rI03 .cont4 .tableStyle .item .body.img.img6 {background-size: 18%;}
}
@media screen and (max-width: 479px) {
  .rI03 .cont4 .tableStyle .item .body.img {background-size: 50%;}
  .rI03 .cont4 .tableStyle .item .body.img.img6 {background-size: 30%;}
}
/* 01romangIntroduce_04 */
.rI04 .cont1  {justify-content: space-between;}
.rI04 .cont1 .left .text {
  display: flex; 
  flex-direction: column; 
  align-items: flex-start;
  margin-bottom: 50px;
}
.rI04 .cont1 .left .text.text2 {display: flex; flex-direction: row;}
.rI04 .cont1 .left .text.text2 > h3 {margin-right: 20px;}
.rI04 .cont1 .left .text.text2 > div {text-align: left;}
.rI04 .cont1 .left .text.text2 > div > div {display: flex; margin-bottom: 20px; align-items: center;}
.rI04 .cont1 .left .text.text2 > div > div img {width: 53px; height: 53px;}
.rI04 .cont1 .left .text.text2 > div > div img.mobile {margin: unset;}
.rI04 .cont1 .left .text.text2 > div > div > ul {margin-left: 10px;}
.rI04 .cont1 .left .text.text2 > div > div > ul > li {font-size: 18px;}
.rI04 .cont1 .left .text > h3,
.rI04 .cont1 .left .text > p {font-size: 20px !important; font-weight: 400 !important; text-align: left;}
.rI04 .cont1 .left .text > p.red {font-size: 17px !important; color: #d82421 !important;}
.rI04 .cont1 .right {display: flex; justify-content: flex-end; margin-left: 10px;}
@media screen and (max-width: 767px) {
  .rI04 .cont1 {flex-direction: column;}
  .rI04 .cont1 .right {width: 100%; justify-content: center;}
  .rI04 .cont1 .right img {width: inherit;}
  .rI04 .cont1 .left .text.text2 {flex-direction: column;}
  .rI04 .cont1 .left .text.text2 > h3 {margin-bottom: 10px;}
}

/* 로망 서비스 */
/* 02romgangService_COMMON */
.rS .cont1,
.rS .cont2 {
  flex-direction: column;
}
.rS .cont1 h2 {
  font-size: 34px;
  font-weight: 500;
  position: relative;
}
.rS .cont1 h2::before {
  position: absolute;
  left: 50%;
  bottom: -15px;
  content: "";
  display: block;
  width: 20px;
  height: 1px;
  transform: translate(-50%, 0);
  background: #555555;
}
.rS .cont1 p:nth-child(2) {
  margin-top: 40px;
}
.rS .cont1 p {
  margin-top: 10px;
}
.rS .cont1 p:last-child {
  margin-top: 20px;
  font-size: 22px !important;
  font-weight: 500 !important;
  text-decoration: underline 1px #dadada;
  text-underline-position: under;
}
.rS .cont2 ul:first-child {
  display: flex;
  align-items: center;
  justify-content: center;
}
.rS .cont2 > p:first-child,
.rS .cont2 > ul:first-child {
  margin-bottom: 25px;
}
.rS .cont2 > p:first-child,
.rS .cont2 ul:first-child > li {
  font-size: 24px !important;
  font-weight: 400 !important;
}
.rS .cont2 ul:first-child > li:first-child,
.rS .cont2 ul:first-child > li:last-child {
  width: 12px;
  height: 1px;
  background: #9b9b9b;
  margin: 0 8px;
}
.rS .cont2 > p > span,
.rS .cont2 > ul > li > span {
  color: #dd413f;
}
.teamIntro {
  flex-direction: column;
}
.teamIntro li:nth-child(1),
.teamIntro li:nth-child(2),
.teamIntro li:nth-child(3) {
  font-size: 24px;
  font-weight: 400;
}
.teamIntro li:nth-child(2),
.teamIntro li:nth-child(3) {
  margin-bottom: 30px;
}
.teamIntro li:nth-child(4) {
  margin: 0 auto;
}
.teamIntro li:nth-child(6) {
  color: #777;
  font-weight: 300;
  font-size: 15px;
  margin-top: 15px;
}
@media screen and (max-width: 1179px) {
  .rS .cont1 {
    margin: 0 20px 100px;
  }
  .rS .cont2 > p:first-child, 
  .rS .cont2 > ul:first-child {
    margin: 0 20px 25px;
  }
  .rS .cont2 ul:first-child > li:first-child, 
  .rS .cont2 ul:first-child > li:last-child {display: none;}
  .teamIntro {
    margin: 100px 20px 0;
  }
}
@media screen and (max-width: 767px) {
  .rS .cont1 p {margin-top: 0; padding: 0 20px;}
}

/* 02romgangService_01 */
.rS01 .cont2 p.small {
  position: relative;
  color: #777 !important;
  font-size: 15px !important;
  text-align: left;
  padding-left: 10px;
}
.rS01 .cont2 p.small::before {
  content: "※";
  position: absolute;
  left: 0;
}
.rS01 ul.cont3 {
  flex-wrap: wrap;
  position: relative;
}
.rS01 ul.cont3 li {
  flex-basis: 50%;
  border-top: 1px solid #e9e9e9;
  border-left: 1px solid #e9e9e9;
  padding: 30px 70px;
  font-size: 20px;
  font-weight: 600;
}
.rS01 ul.cont3 li span {
  font-size: 17px;
  font-weight: 300;
}
.rS01 ul.cont3 li:nth-child(2),
.rS01 ul.cont3 li:nth-child(4) {
  border-left: unset;
}
.rS01 ul.cont3 li:nth-child(4),
.rS01 ul.cont3 li:nth-child(5) {
  border-bottom: 1px solid #e9e9e9;
}
.rS01 ul.cont3 li:first-child {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  flex-basis: unset;
  border: unset;
}
@media screen and (max-width: 1179px) {
  .rS01 .cont2 p.small {
    margin: 0 20px;
  }
  .rS01 .cont2 p.small br {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .rS01 ul.cont3 {
    display: none !important;
  }
}

/* 02romgangService_02 */
.rS02 .cont2 {
  align-items: center;
}
.rS02 .cont2 .roadMap {
  display: flex;
  justify-content: flex-start;
  height: 360px;
}
.rS02 .cont2 .roadMap .roadMapItem {
  flex-grow: 1;
  position: relative;
  width: 170px;
}
.rS02 .cont2 .roadMap .roadMapItem:last-child {
  flex-grow: 0;
}
.rS02 .cont2 .roadMap .roadMapItem::before {
  content: "";
  display: block;
  position: absolute;
  width: 87px;
  height: 107px;
  top: 6%;
  right: 0;
  left: 0;
  margin: 0 auto;
  background-image: url("../images/contents/point_img2.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.rS02 .cont2 .roadMap .roadMapItem.active::before {
  background-image: url("../images/contents/point_img1.png");
}
.rS02 .cont2 .roadMap .roadMapItem .textBox {
  position: absolute;
  top: 8%;
  right: 0;
  left: 0;
  margin: 0 auto;
  width: 71px;
  height: 71px;
  background: #fff;
  border-radius: 100%;
}
.rS02 .cont2 .roadMap .roadMapItem .textBox p {
  position: absolute;
  top: 18%;
  right: 0;
  left: 0;
  margin: 0 auto;
  line-height: 22px;
  font-weight: 500 !important;
}
.rS02 .cont2 .roadMap .roadMapItem:nth-child(3) .textBox p {
  top: 30%;
}
.rS02 .cont2 .roadMap .roadMapItem .textBox::before {
  position: absolute;
  content: "";
  display: block;
  top: 170%;
  right: 0;
  left: 0;
  z-index: 1;
  margin: 0 auto;
  width: 12px;
  height: 12px;
  border: 2px solid #e0e0e0;
  box-sizing: border-box;
  border-radius: 50%;
  background: #fff;
}
.rS02 .cont2 .roadMap .roadMapItem.active .textBox::before {
  border-color: #e42c2a;
}
.rS02 .cont2 .roadMap .roadMapItem .textBox::after {
  position: absolute;
  top: 177%;
  left: 50%;
  content: "";
  display: block;
  width: 170px;
  height: 1px;
  background: #e5e5e5;
}
.rS02 .cont2 .roadMap .roadMapItem:last-child .textBox:after {
  display: none;
}
.rS02 .cont2 .roadMap .roadMapItem > ul {
  position: absolute;
  top: 48%;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.rS02 .cont2 .roadMap .roadMapItem > ul > li {
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 10px;
}
.rS02 .cont2 .roadMap .roadMapItem.active > ul > li {
  font-weight: 500;
}
.rS02 .cont3 {
  justify-content: center;
}
@media screen and (max-width: 767px) {
  .rS02 .cont1 {display: none !important;}
  .rS02 .cont3 {
    flex-direction: column;
  }
  .rS02 .cont2 .roadMap {
    overflow: hidden;
    flex-wrap: wrap;
    min-height: 700px;
  }
  .rS02 .cont2 .roadMap .roadMapItem .textBox::after {
    left: -190%;
    width: 500px;
  }
  .rS02 .cont2 .roadMap .roadMapItem:first-child .textBox:after {
    display: none;
  }
  .rS02 .cont2 .roadMap .roadMapItem:nth-child(4) .textBox:after {
    left: -410%;
  }
  .rS02 .cont2 .roadMap .roadMapItem:last-child .textBox:after {
    width: 170px;
    display: block;
  }
}
@media screen and (max-width: 709px) {
  .rS02 .cont2 .roadMap .roadMapItem .textBox::after {left: -270%; width: 550px;}
  .rS02 .cont2 .roadMap .roadMapItem:first-child .textBox:after {display: block;}
  .rS02 .cont2 .roadMap .roadMapItem:nth-child(4){flex-grow: 0; flex-basis: 33.33%;}
  .rS02 .cont2 .roadMap .roadMapItem:last-child {flex-grow: 0; flex-basis: 33.33%;}
}
@media screen and (max-width:539px) {
  .rS02 .cont2 .roadMap {min-height: 1000px;}
  .rS02 .cont2 .roadMap .roadMapItem:nth-child(4){flex-grow: 1; flex-basis: unset;}
  .rS02 .cont2 .roadMap .roadMapItem:last-child {flex-grow: 0; flex-basis: 50%;}
}
@media screen and (max-width:479px) {
  .rS02 .cont2 .roadMap .roadMapItem:last-child .textBox:after {width: 225px;}
}
@media screen and (max-width:369px) {
  .rS02 .cont2 .roadMap {min-height: 1800px;}
  .rS02 .cont2 .roadMap .roadMapItem:last-child {flex-grow: 1;}
}

/* 02romgangService_03 */
.rS03 .cont2 .flex {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 20px;
}
.rS03 .cont2 .flex .right {
  text-align: left;
  padding: 15px 0 0 20px;
}
.rS03 .cont2 .flex .right p {
  margin-bottom: 50px;
  font-size: 18px !important;
  font-weight: 400 !important;
}
.rS03 .cont3 {
  flex-direction: column;
  align-items: center;
}
.rS03 .cont3 > p {
  font-size: 24px !important;
  font-weight: 400 !important;
  margin-bottom: 40px;
  margin: 0 20px;
}
.rS03 .cont3 figure {
  padding: 0 20px;
  margin-bottom: 100px;
}
@media screen and (max-width: 767px) {
  .rS03 .cont1 {display: none !important;}
  .rS03 .cont2 > p {margin: 0 0 25px !important;}
  .rS03 .cont2 .flex {
    flex-direction: column;
    margin: 0;
  }
  .rS03 .cont2 .flex .right {display: none;}
  .rS03 .cont3 > p {margin: 0 10px 30px;}
  .rS03 .cont3 .tblType02 {margin-top: 20px;}
  .rS03 .cont3 figure {padding: 0 10px; margin-bottom: 0;}
}

/* 02romgangService_04 */
.rS04 .cont2 .flex {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 0 20px;
}
.rS04 .cont2 .flex .right {
  text-align: left;
  padding: 15px 0 0 20px;
}
.rS04 .cont2 .flex .right p {
  position: relative;
  margin-bottom: 15px !important;
  font-size: 18px !important;
}
@media screen and (max-width: 767px) {
  .rS04 .cont1 {display: none !important;}
  .rS04 .cont2 > p,
  .rS04 .cont2 .flex {margin: 0;}
  .rS04 .cont2 .flex {
    flex-direction: column;
  }
  .rS04 .cont2 .flex .right {display: none;}
}

/* 04-07 Center 센터 공통 */
.rC .cont1 {
  display: flex;
  flex-direction: row !important;
}
.rC .cont1 > div {
  flex: 1 !important;
}
.rC .cont1 .right {
  text-align: left;
  padding-left: 20px;
}
@media screen and (max-width: 767px) {
  .rC .cont1 .right {padding-left: 0;}
}
.rC .cont1 .right h2 {
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 30px;
}
.rC .cont1 .right p {
  font-size: 18px;
  font-weight: 300;
}
.rC .cont {
  flex-direction: column;
}
.rC .cont h2 {
  margin-bottom: 25px;
  font-size: 24px;
  font-weight: 400;
}
.rC .cont h2 span {
  color: #dd413f;
}
.rC .tableStyle1 .item .head {
  height: 90px;
  padding: 18px;
  word-break: keep-all;
}
.rC .tableStyle2 li {
  margin-bottom: 30px;
  display: flex;
}
.rC .tableStyle2 li > div {
  border-radius: 3px;
}
.rC .tableStyle2 li .head {
  position: relative;
  display: flex;
  align-items: center;
  width: 180px;
  min-height: 80px;
  padding: 15px;
  border: 1px solid #bc6868;
  background-color: #fcf6f6;
}
.rC .tableStyle2 li .head span {
  margin-left: 10px;
  font-size: 18px;
}
.rC .tableStyle2 li .head::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translateX(-50%);
  height: 35px;
  display: block;
  width: 180px;
  background: url(../images/icon/arrow-bt.png) no-repeat center;
}
.rC .tableStyle2 li .body {
  flex: 1;
  min-height: 80px;
  border: 1px solid #e9e9e9;
  margin-left: 15px;
  padding: 15px;
  text-align: left;
  font-size: 17px;
  word-break: keep-all;
}
.rC .tableStyle2 li .body span {
  color: #d01210;
}
.rC .tableStyle2 li:last-child {
  margin: 0;
}
.rC .tableStyle2 li:last-child .head::before {
  display: none;
}
.rC .teamIntro li:nth-child(3) img:nth-child(2) {
  display: none;
}
.rC p.small {
  color: #777 !important;
  font-size: 15px !important;
  text-align: left;
}
.rC .profileArea {
  display: flex;
  justify-content: center;
  margin: 0 20px;
}
.rC .profileArea .profile {
  position: relative;
  width: 490px;
  height: 590px;
  background: #fafafa;
}
.rC .profileArea .profile > a {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  width: 100%;
  height: 100%;
}
.rC .profileArea .profile:first-child {
  margin-right: 10px;
}
.rC .profileArea .profile:last-child {
  margin-left: 10px;
}
.rC .profileArea .profile:hover {
  border: 4px solid #9a7f62;
}
.rC .profileArea .profile .ctaImg {
  height: 60%;
  border: 1px solid #ead3d5;
  background: #f6f2ef;
}
.rC .profileArea .profile .ctaImg1::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-image: url("../images/contents/ctaImg1.png");
  background-position: bottom;
  background-repeat: no-repeat;
}
.rC .profileArea .profile .ctaImg2::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-image: url("../images/contents/ctaImg2.png");
  background-position: bottom;
  background-repeat: no-repeat;
}
.rC .profileArea .profile .ctaIntroduce {
  text-align: left;
  height: 40%;
  padding: 40px 40px 0;
  border: 1px solid #ececec;
  border-top: unset;
}
.rC .profileArea .profile .ctaIntroduce > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.rC .profileArea .profile .ctaIntroduce > p {
  font-size: 16px !important;
  color: #888 !important;
  font-weight: 400 !important;
  margin-top: 20px !important;
  white-space: nowrap;
}
.rC .profileArea .profile .ctaIntroduce .name {
  position: relative;
  font-size: 30px !important;
  font-weight: 600 !important;
}
.rC .profileArea .profile .ctaIntroduce .name span {
  color: #9a7f62 !important;
  font-size: 20px !important;
}
.rC .profileArea .profile .ctaIntroduce .cross {
  position: relative;
  width: 30px;
  height: 2px;
  background: #bebebe;
}
.rC .profileArea .profile:hover .ctaIntroduce .cross {
  background: #9a7f62;
}
.rC .profileArea .profile .ctaIntroduce .cross::before {
  content: "";
  display: block;
  width: 2px;
  height: 30px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: #bebebe;
}
.rC .profileArea .profile:hover .ctaIntroduce .cross::before {
  background: #9a7f62;
}
.rC .profileArea .profile .ctaIntroduce .name::before {
  content: "";
  display: block;
  width: 77px;
  height: 1px;
  background: #c7c7c7;
  position: absolute;
  left: 0;
  top: 100%;
}

/* 05romgangCenter 재산제세센터 */
.rPC .cont2 h2 {margin-bottom: 25px; font-size: 24px; font-weight: 400;}
.rPC .cont2 h2 p {
  color: #666666 !important;
  font-size: 17px !important;
  line-height: 1.8;
}
.rPC .cont3 h2 {
  font-size: 30px !important;
  font-weight: 500;
}
.rPC .cont3 h2 p {
  margin-top: 30px;
  font-size: 24px !important;
  font-weight: 400 !important;
}
.rPC .cont4 h2 {
  font-size: 30px !important;
  font-weight: 500;
}
.rPC .teamIntro {
  margin-top: 100px;
}
.rPC .teamIntro li:nth-child(3) img:nth-child(2) {
  display: none;
}
@media screen and (max-width: 767px) {
  .rPC .cont1 {flex-direction: column !important;}
  .rPC .cont1 .right p > br {display: none;}
  .rPC .cont2 > h2 > p > br {display: none;}
}
/* 06romgangCenter 세무조사대응센터 */
.rTC .cont3 h2 {
  font-size: 30px !important;
  font-weight: 500;
}
.rTC .cont3 h2 p {
  margin-top: 30px;
  font-size: 24px !important;
  font-weight: 400 !important;
}
.imgBox2 {
  background: #fafafa;
  border: 1px solid #e9e9e9;
  padding: 40px;
}
.rTC .cont4 {
  margin-bottom: 40px;
}
.rTC .cont4 h2 {
  font-size: 30px !important;
  font-weight: 500;
}
.rTC .cont4 h2 p.small {
  text-align: center;
}
.rTC .cont4 p.small {
  margin: 10px 20px 0;
}
.rTC .cont5 {
  padding: 25px 35px;
  border: 1px solid #ececec;
}
.rTC .cont5 h4 {
  margin-bottom: 15px;
  font-size: 18px;
  font-weight: 500;
  text-align: left;
}
.rTC .cont5 .textArea {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.rTC .cont5 .textArea ul:nth-child(1) {
  margin-right: 20px;
}
.rTC .cont5 .textArea ul:nth-child(2) {
  margin-right: 140px;
}
@media screen and (max-width: 767px) {
  .rTC .cont1 {flex-direction: column !important;}
  .rTC .cont1 .right > h2 > br {display: none;}
  .rTC .cont1 .right > p > br {display: none;}
  .imgBox2 {padding: 20px;}
}
/* 07romgangCenter 조세불복센터 */
.rAC .cont1 h2 p {
  font-size: 16px !important;
  color: #747474 !important;
}
.rAC .cont1 > p {
  word-break: keep-all;
}
.rAC .cont2 .tableStyle {
  flex-direction: column;
}
.rAC .cont2 .tableStyle .item .body {
  border-left: 0;
}
.rAC .cont2 .tableStyle .item .body img:nth-child(2) {
  display: none;
}

.cont3 .body {
  flex-direction: column !important;
  padding: 0;
}
.cont3 .body .tbody {
  display: flex;
  padding: 0;
  border-bottom: 1px solid #e9e9e9;
}
.cont3 .body .tbody > div {
  padding: 20px 10px;
}
.cont3 .body .tbody .th {
  flex: 1;
  font-size: 18px;
  text-align: center;
  background-color: #f8f8f8;
  border-right: 1px solid #e9e9e9;
}
.cont3 .body .tbody .td {
  flex: 3;
  font-size: 17px;
}

@media screen and (max-width: 767px) {
  .rC .cont1{flex-direction: column !important;}
  .rC .cont1 .left img:nth-child(1) {display: none;}
  .rC .cont1 .left img:nth-child(2) {display: block;}
  .rC .teamIntro li:nth-child(3) img:nth-child(1) {
    display: none;
  }
  .rC .teamIntro li:nth-child(3) img:nth-child(2) {
    display: block;
  }
  .rIC .tableStyle .item {
    flex: 1;
    width: auto;
  }
  .rIC .tableStyle1 .item {
    flex-direction: column;
  }
  .rIC .tableStyle1 .item .head {
    width: auto;
  }
  .rIC .tableStyle1 .item .body {
    width: auto;
    border-left: 0;
  }
  .rIC .tableStyle2 li {
    position: relative;
    flex-direction: column;
  }
  .rIC .tableStyle2 li .head {
    width: 100%;
    margin-bottom: 30px;
  }
  .rIC .tableStyle2 li .head::before {
    display: none;
  }
  .rIC .tableStyle2 li .body {
    width: 100%;
    margin-left: 0;
  }
  .rIC .tableStyle2 li::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translateX(-50%);
    height: 35px;
    display: block;
    width: 180px;
    background: url(../images/icon/arrow-bt.png) no-repeat center;
  }
  .rIC .tableStyle2 li:last-child::before {
    display: none;
  }
  .rIC .teamIntro li:nth-child(3) img:nth-child(1) {
    display: none;
  }
  .rIC .teamIntro li:nth-child(3) img:nth-child(2) {
    display: block;
  }
  .rPC .tableStyle1 .item {
    flex-direction: column;
  }
  .rPC .tableStyle1 .item .head {
    width: auto;
  }
  .rPC .tableStyle1 .item .body {
    width: auto;
    border-left: 0;
  }
  .rPC .teamIntro li:nth-child(3) img:nth-child(1) {
    display: none;
  }
  .rPC .teamIntro li:nth-child(3) img:nth-child(2) {
    display: block;
  }
  .rTC .tableStyle1 .item {
    flex-direction: column;
  }
  .rTC .tableStyle1 .item .head {
    width: auto;
  }
  .rTC .tableStyle1 .item .body {
    width: auto;
    border-left: 0;
  }
  .rTC .cont5 .textArea .bltList01 {
    margin-right: 0 !important;
  }
  .rAC .cont2 .tableStyle1 .item {
    flex-direction: column;
  }
  .rAC .cont2 .tableStyle1 .item .head {
    width: auto;
  }
  .rAC .cont2 .tableStyle1 .item .body {
    width: auto;
    border-left: 0;
  }
  .rAC .cont2 .tableStyle1 .item .body img:nth-child(1) {
    display: none;
  }
  .rAC .cont2 .tableStyle1 .item .body img:nth-child(2) {
    display: block !important;
  }
  .rAC .cont3 .tableStyle1 .item .body {
    padding: 0 !important;
  }
}
[class^=icon_] {
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 1px solid #e5bcbc;
  border-radius: 3px;
}

.icon_pen {
  background: #fff url("../images/icon/pen.png") no-repeat center;
}

.icon_mouse {
  background: #fff url("../images/icon/mouse.png") no-repeat center;
}

.icon_paper1 {
  background: #fff url("../images/icon/paper1.png") no-repeat center;
}

.icon_paper2 {
  background: #fff url("../images/icon/paper2.png") no-repeat center;
}

.icon_people {
  background: #fff url("../images/icon/people1.png") no-repeat center;
}

.consultingLink2 {
  display: block !important;
}
.consultingLink2 ul {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 210px;
  margin-bottom: 15px;
  flex-direction: column;
  background: #000 url("../images/contents/cont_background1.png") no-repeat;
  background-size: cover;
}
.consultingLink2 ul li {
  margin: 0 20px 30px;
  margin-bottom: 30px;
}
.consultingLink2 ul li p {
  margin-top: 10px !important;
  color: #fff !important;
  font-size: 23px !important;
  z-index: 1 !important;
}
.consultingLink2 ul .btn_red {
  position: relative;
  width: 185px;
  height: 45px;
  border-radius: 30px;
  background: #fff;
  z-index: 1;
}
.consultingLink2 ul .btn_red a {
  position: absolute;
  top: -5%;
  display: block;
  border-radius: 30px;
  width: 100%;
  line-height: 45px;
  background: #d02220;
  font-size: 19px;
  font-weight: 700;
  color: #fff;
}
.consultingLink2 ul .btn_red a:hover {
  top: 0;
  box-shadow: inset 1px 3px 3px #8f0f0d;
}
.consultingLink2 p.small {
  color: #777 !important;
  font-size: 15px !important;
  text-align: left;
}

/* 상담신청 */
.consulting {
  margin-bottom: 100px;
}
.consulting .cont {
  min-height: 250px;
  text-align: left;
  background-image: url(../images/contents/consulting_img5.png);
  background-position: center right;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50px 350px 50px 50px;
}
.consulting .cont h2 {
  position: relative;
  font-size: 22px;
  font-weight: 600;
}
.consulting .cont h2::before {
  content: "";
  position: absolute;
  top: -30px;
  left: -40px;
  display: block;
  width: 90px;
  height: 90px;
  background: url("../images/contents/cont_bg.png") no-repeat;
}
.consulting .cont .mobTxt {
  display: none;
}
.consulting .tblType02 > table > tbody > tr > td {
  padding: 25px 10px;
}
.consulting .tblType02 > table > tbody > tr > td .email {
  position: relative;
}
.consulting .tblType02 > table > tbody > tr > td .email .fileName {
  padding-left: 90px;
  height: 38px;
  line-height: 38px;
}
.consulting .tblType02 > table > tbody > tr > td .email label {
  position: absolute;
  width: 80px;
  left: 6px;
  height: 29px;
  line-height: 29px;
  top: 50%;
  transition: auto;
  transform: translateY(-50%);
}
.consulting select {
  background: #fff url(../images/contents/icon_select.png) no-repeat calc(100% - 10px) center !important;
  padding-right: 22px;
}
.consulting input[type=radio] + input[type=radio] + label {
  margin-left: 8px;
}
.consulting input[type=radio] {
  display: none;
}
.consulting input[type=radio] + label {
  position: relative;
  padding-left: 20px;
}
.consulting input[type=radio] + label::after {
  content: "";
  position: absolute;
  top: 1px;
  left: 0;
  display: block;
  width: 18px;
  height: 18px;
  border: 1px solid #bc6868;
  border-radius: 50%;
  background-color: #fff;
}
.consulting input[type=radio]:checked + label::after {
  background: #fff url("../images/icon/icon_radio_red.png") no-repeat center;
  border: 1px solid #bc6868;
}
.consulting input[type=checkbox] + input[type=checkbox] + label {
  margin-left: 8px;
}
.consulting input[type=checkbox] {
  display: none;
}
.consulting input[type=checkbox] + label {
  position: relative;
  padding-left: 2rem;
}
.consulting input[type=checkbox] + label::after {
  top: -1px;
}
.consulting input[type=checkbox]:checked + label::after {
  background: #e42c2a url("../images/icon/icon_chk.png") no-repeat center;
  border-color: #e42c2a;
}
.consulting input[type=file] {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: 1px;
  padding: 0;
  border: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
}
.consulting input[type=file] + label {
  display: inline-block;
  line-height: 30px;
  margin-left: 2px;
  padding: 0 13px;
  text-align: center;
  color: #fff;
  border-radius: 3px;
  background-color: #444444;
  vertical-align: top;
  cursor: pointer;
}
.consulting .fileName {
  border-radius: 2px;
}
.consulting .fileName + [class^=btn_] {
  margin-left: 2px;
}
.consulting .chk {
  text-align: left;
}
.consulting .chk label {
  font-size: 16px;
  color: #777777;
}
.consulting .btn_red {
  position: relative;
  width: 223px;
  height: 62px;
  margin: 40px auto 0;
  border-radius: 5px;
  background: #1e1e1e;
  z-index: 1;
}
.consulting .btn_red a {
  position: absolute;
  top: -5%;
  display: block;
  border-radius: 5px;
  width: 100%;
  line-height: 62px;
  color: #fff;
  font-size: 21px;
  font-weight: 700;
  background-color: #d02220;
}
.consulting .btn_red a:hover {
  top: 0;
  box-shadow: inset 1px 3px 3px #8f0f0d;
}

@media screen and (max-width: 1179px) {
  .rIC .tableStyle .item {
    flex: 1;
    width: auto;
  }
  .rIC .tableStyle1 .item {
    flex-direction: column;
  }
  .rIC .tableStyle1 .item .head {
    width: auto;
  }
  .rIC .tableStyle1 .item .body {
    width: auto;
    border-left: 0;
  }
  .rIC .tableStyle2 li {
    position: relative;
    flex-direction: column;
  }
  .rIC .tableStyle2 li .head {
    width: 100%;
    margin-bottom: 30px;
  }
  .rIC .tableStyle2 li .head::before {
    display: none;
  }
  .rIC .tableStyle2 li .body {
    width: 100%;
    margin-left: 0;
  }
  .rIC .tableStyle2 li::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translateX(-50%);
    height: 35px;
    display: block;
    width: 180px;
    background: url(../images/icon/arrow-bt.png) no-repeat center;
  }
  .rIC .tableStyle2 li:last-child::before {
    display: none;
  }
  .rIC .teamIntro li:nth-child(3) img:nth-child(1) {
    display: none;
  }
  .rIC .teamIntro li:nth-child(3) img:nth-child(2) {
    display: block;
  }
  .rPC .tableStyle1 .item {
    flex-direction: column;
  }
  .rPC .tableStyle1 .item .head {
    width: auto;
  }
  .rPC .tableStyle1 .item .body {
    width: auto;
    border-left: 0;
  }
  .rPC .teamIntro li:nth-child(3) img:nth-child(1) {
    display: none;
  }
  .rPC .teamIntro li:nth-child(3) img:nth-child(2) {
    display: block;
  }
  .rTC .tableStyle1 .item {
    flex-direction: column;
  }
  .rTC .tableStyle1 .item .head {
    width: auto;
  }
  .rTC .tableStyle1 .item .body {
    width: auto;
    border-left: 0;
  }
  .rTC .cont5 .textArea .bltList01 {
    margin-right: 0 !important;
  }
  .rAC .cont2 .tableStyle1 .item {
    flex-direction: column;
  }
  .rAC .cont2 .tableStyle1 .item .head {
    width: auto;
  }
  .rAC .cont2 .tableStyle1 .item .body {
    width: auto;
    border-left: 0;
  }
  .rAC .cont2 .tableStyle1 .item .body img:nth-child(1) {
    display: none;
  }
  .rAC .cont2 .tableStyle1 .item .body img:nth-child(2) {
    display: block !important;
  }
  .rAC .cont3 .tableStyle1 .item .body {
    padding: 0 !important;
  }
  .consulting .cont {
    min-height: 550px;
    padding: 160px 20px 20px;
    text-align: center;
    background-image: url("../images/contents/consulting_img5-1.png");
    background-position: center bottom;
  }
  .consulting .cont h2 {
    font-size: 21px;
  }
  .consulting .cont h2::before {
    left: 50%;
    transform: translateX(-50%);
    top: -100px;
  }
  .consulting .cont p {
    font-size: 17px;
  }
  .consulting .cont .pcTxt {
    display: none;
  }
  .consulting .cont .mobTxt {
    display: block;
  }
  .consulting .tblType02,
  .consulting .chk {
    margin: 0 15px;
  }
}
@media screen and (max-width: 500px) {
  .consulting .checkList > span + span {
    display: block;
    margin-left: 0;
    margin-top: 10px;
  }
}
[class^=icon_] {
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 1px solid #e5bcbc;
  border-radius: 3px;
}

.icon_pen {
  background: #fff url("../images/icon/pen.png") no-repeat center;
}

.icon_mouse {
  background: #fff url("../images/icon/mouse.png") no-repeat center;
}

.icon_paper1 {
  background: #fff url("../images/icon/paper1.png") no-repeat center;
}

.icon_paper2 {
  background: #fff url("../images/icon/paper2.png") no-repeat center;
}

.icon_people {
  background: #fff url("../images/icon/people1.png") no-repeat center;
}

.consultingLink2 {
  display: block !important;
}
.consultingLink2 ul {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 210px;
  margin-bottom: 15px;
  flex-direction: column;
  background: #000 url("../images/contents/cont_background1.png") no-repeat;
  background-size: cover;
}
.consultingLink2 ul li {
  margin: 0 20px 30px;
  margin-bottom: 30px;
}
.consultingLink2 ul li p {
  margin-top: 10px !important;
  color: #fff !important;
  font-size: 23px !important;
  z-index: 1 !important;
}
.consultingLink2 ul .btn_red {
  position: relative;
  width: 185px;
  height: 45px;
  border-radius: 30px;
  background: #fff;
  z-index: 1;
}
.consultingLink2 ul .btn_red a {
  position: absolute;
  top: -5%;
  display: block;
  border-radius: 30px;
  width: 100%;
  line-height: 45px;
  background: #d02220;
  font-size: 19px;
  font-weight: 700;
  color: #fff;
}
.consultingLink2 ul .btn_red a:hover {
  top: 0;
  box-shadow: inset 1px 3px 3px #8f0f0d;
}
.consultingLink2 p.small {
  color: #777 !important;
  font-size: 15px !important;
  text-align: left;
}