@charset "utf-8";
@import url('common.css');
@import url('layout.css');
@import url('object.css');

/* header */
#header > h1 {
  width: 212px;
  height: 57px;
}
#header > h1 > a {
  display: block;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url("../images/main/logo.png");
}
#header li.on > a {
  color: #d02220;
}
#header > ul > li {
  margin-bottom: 30px;
  cursor: pointer;
}
#header > ul > li > ul {
  overflow: hidden;
  margin-top: 30px;
  width: 100%;
  background: #fafafa;
  display: none;
}
#header > ul > li > a {
  font-size: 17px;
  color: #373737;
}
#header > ul > li.active > a + ul {
  display: block;
}
#header > ul > li > ul > li {
  padding-bottom: 15px;
}
#header > ul > li > ul > li:first-child {
  padding-top: 25px;
}
#header > ul > li > ul > li:last-child {
  padding-bottom: 25px;
}
#header > ul > li > ul > li > a {
  font-size: 15px;
  color: #707070;
}
#header > ul > li > a,
#header > ul > li > ul > li > a {
  position: relative;
  font-weight: 500;
}
#header > ul > li > a::before,
#header > ul > li > ul > li > a::before {
  content: "";
  display: block;
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -3px;
  left: 0;
  transition: .3s;
  background: #d02220;
}
#header > ul > li:hover > a,
#header > ul > li > ul > li:hover > a {
  color: #d02220;
}
#header > ul > li:hover > a:before,
#header > ul > li > ul > li:hover > a:before,
#header > ul > li.on > a:before {
  width: 100%;
}

/* contents */
#contents .container::before {
  content: "";
  display: block;
  position: absolute;
  width: 263px;
  height: 452px;
  top: -250px;
  right: -60px;
  background-image: url("../images/main/logo_bg.png");
  background-size: contain;
  z-index: -1;
}
#contents .container > p {
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1px;
  color: #e42c2a;
}
#contents .container > h1 {
  font-size: 40px;
  font-weight: 700;
  color: #373737;
}
#contents .container > ul {
  display: flex;
  justify-content: flex-end;
  margin-right: 22px;
}
#contents .container > ul > li {
  position: relative;
  margin-left: 12px;
  font-size: 15px;
  font-weight: 300;
}
#contents .container > ul > li:first-child::after {
  content: "";
  display: block;
  position: absolute;
  width: 13px;
  height: 14px;
  top: 3px;
  left: -26px;
  background-image: url("../images/icon/home.png");
}
#contents .container > ul > li::before {
  content: "";
  display: block;
  position: absolute;
  width: 3px;
  height: 2px;
  top: 10px;
  left: -6px;
  background-image: url("../images/blt/blt01.png");
}
#contents .container .contBox {
  background: #fff;
  border-top: 1px solid #e6e6e6;
  padding-top: 70px;
}
#contents .container .contBox h2,
#contents .container .contBox p {
  color: #373737;
}
#contents .container .contBox p {
  font-size: 18px;
  font-weight: 300;
}
#contents .container .contBox .cont {
  display: flex;
}
#contents .container .contBox .cont > div {
  flex-grow: 1;
}

/* img */
.cont_img1 {
  width: 497px;
  height: 277px;
  background-image: url("../images/contents/cont_img1.png");
}
.cont_img2 {
  width: 664px;
  height: 268px;
  background-image: url("../images/contents/cont_img2.png");
}
.cont_img3 {
  width: 51.38vw;
  height: 19.47vw;
  /* width: 986px;
  height: 374px; */
  background-image: url("../images/contents/cont_img3.png");
  background-size: cover;
}
.cont_img4 {
  width: 589px;
  height: 126px;
  background-image: url("../images/contents/cont_img4.png");
}
.cont_img5 {
  width: 350px;
  height: 360px;
  background-image: url("../images/contents/cont_img5.png");
}
.cont_img6 {
  width: 161px;
  height: 161px;
  background-image: url("../images/contents/cont_img6.png");
}
.cont_img7 {
  width: 669px;
  height: 126px;
  background-image: url("../images/contents/cont_img7.png");
}
.cont_img8 {
  width: 537px;
  height: 354px;
  background-repeat: no-repeat;
  background-image: url("../images/contents/cont_img8.png");
}
.cont_img9 {
  width: 810px;
  height: 341px;
  background-repeat: no-repeat;
  background-image: url("../images/contents/cont_img9.png");
}
.cont_img10 {
  width: 421px;
  height: 348px;
  background-repeat: no-repeat;
  background-image: url("../images/contents/cont_img10.png");
}
.cont_background1 {
  width: 100%;
  height: 211px;
  background-size: cover;
  padding: 40px 150px 0;
  background-image: url("../images/contents/cont_background1.png");
}
.table_img1 {
  width: 145px;
  height: 60px;
  background-image: url("../images/contents/table_img1.png");
}
.table_img2 {
  width: 143px;
  height: 45px;
  background-image: url("../images/contents/table_img2.png");
}
.table_img3 {
  width: 188px;
  height: 63px;
  background-image: url("../images/contents/table_img3.png");
}

/* tab */
.tab01 {
  justify-content: center;
}
.tab01 li.on a,
.tab01 li:hover a {
  background: #e42c2a;
  color: #fff;
}
.tab01 li a {
  display: block;
  color: #696969;
  border: 1px solid #e42c2a;
  border-radius: 30px 0 30px 30px;
  background: #fff;
  width: 194px;
  height: 52px;
  margin: 0 7.5px;
  font-size: 18px;
  line-height: 52px;
  font-weight: 400;
}

/* line */
.lbType01::before {
  content: "";
  display: block;
  position: absolute;
  width: 20px;
  height: 1px;
  left: 50%;
  bottom: -15px;
  transform: translate(-50%, 0);
  background: #555555;
}

/* .lbType02::before {
  content: "";
  display: block;
  position: absolute;
  width: 800px;
  height: 1px;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 0);
  background: #dadada;
} */
.lbType02 {
  text-decoration: underline 1px #dadada;
  text-underline-position: under;
}

.vLine {
  width: 12px;
  height: 1px;
  background: #9b9b9b;
  margin: 0 8px;
}

/* border content style1 */
.bcont1 li {
  padding: 30px 70px;
  font-size: 20px;
  font-weight: 600;
}

/* btn style */
.btnType01 {
  position: relative;
  width: 185px;
  height: 45px;
  border-radius: 30px;
  background: #fff;
}
.btnType01 > a {
  position: absolute;
  top: -5%;
  display: block;
  border-radius: 30px;
  width: 100%;
  line-height: 45px;
  background: #d02220;
}
.btnType01:hover > a {
  top: 0;
  box-shadow: inset 1px 3px 3px #8f0f0d;
}

/* blt */
.blt01::before {
  content: "";
  display: block;
  position: absolute;
  width: 3px;
  height: 2px;
  top: 10px;
  left: -10px;
  background-image: url(../images/blt/blt01.png);
}