@charset "utf-8";
@import url('./common.css');
@import url('./layout.css');
@import url('./object.css');

#contents .container {
	max-width: 1360px;
}
.main #contents{
	padding-top: 0;
}
.section h3 {
	color: #111111;
	font-size: 40px;
	font-weight: 500;
	margin: 0 0 20px;
	word-break: keep-all;
}
.section h3 strong{
	color: #e42c2a;
}
.section .sectionCont {
	width: 1440px;
	padding: 80px 80px;
}
.section .sectionCont::after {content: "";display: block;clear: both;}
@media screen and (max-width:1739px) {
	.section .sectionCont {width: 100%;padding: 0 40px !important;}
}
@media screen and (max-width:1399px){
	.section .sectionCont {padding: 40px !important;}
}
@media screen and (max-width:1179px) {
	.main #contents{margin-top: -70px;}
	.section .sectionCont {padding: 70px 20px 0 !important;}
}
@media screen and (min-height:850px){
	.main #contents,
	.main #wrap{overflow: hidden;}
	.section .sectionCont {padding: 0 80px;}
	.fp-responsive .section .sectionCont {padding: 80px;}
}
@media screen and (max-width:879px){
	.main #contents,
	.main #wrap{overflow-y: auto;}
	.section .sectionCont {padding:40px 20px !important;}
	.fp-responsive .section, 
	.fp-responsive .fp-tableCell {height: auto !important;}
}
@media screen and (max-width:767px){
	.section h3 {font-size: 30px;letter-spacing: -1px;line-height: 120%;}
	.section .sectionCont {padding: 40px 15px !important;}
}
.btn_detail {
	display: inline-block;
	color: #000000;
	background: url('../images/main/btn_detail.png') right center no-repeat;
	padding: 2px 42px 0 0;
	font-size: 16px;
	font-weight: 500;
}
@media screen and (max-width:767px){
	.btn_detail {padding-right: 30px;}
}
/* 메인 비주얼 */
#romanVisual {
	background-color: #f4f4f4;
}
#romanVisual .sectionCont {
	padding: 0;
}
#romanVisual ul {
	height: 713px;
	width: 100%;
	position: absolute;
	bottom: 0;
}
#romanVisual ul li {
	min-height: 713px;
	background-repeat: no-repeat;
	background-position: right bottom;
	background-size: auto 713px;
	position: relative;
}
#romanVisual ul li p{
	position: absolute;
	left: 80px;
	top: 150px;
}
#romanVisual ul li:nth-child(1){background-image: url('../images/main/visual_01.png');}
#romanVisual ul li:nth-child(2){background-image: url('../images/main/visual_02.png');}
#romanVisual ul li:nth-child(3){background-image: url('../images/main/visual_03.png');}
#romanVisual .controll{
	position: absolute;
	left: 0;
	bottom: 0;
	background-color: #e42c2a;
	width: 242px;
	height: 64px;
}
#romanVisual .controll::after{
	position: absolute;
	left: 84px;
	top: 32px;
	width: 96px;
	height: 2px;
	background-color: #fff;
	content: "";
	display: block;
}
#romanVisual .controll .totalCnt{
	font-size: 17px;
	font-weight: 500;
	color: #fff;
	text-align: left;
	padding: 20px 25px;
}

#romanVisual .slick-arrow {
	position: absolute;
	bottom: 22px;
	z-index: 10;
	background-repeat: no-repeat;
	background-position: center;
	width: 20px;
	height: 20px;
	font-size: 0;
}
#romanVisual .slick-prev {
	background-image: url('../images/main/btn_prev.png');
	left: 183px;
}
#romanVisual .slick-next {
	background-image: url('../images/main/btn_next.png');
	left: 203px;
}
@media screen and (max-width: 1739px) {
	#romanVisual .sectionCont {padding: 0 !important;}
}
@media screen and (max-width: 879px) {
	.fp-responsive #romanVisual .fp-tableCell,
	.fp-responsive #romanVisual.section {height: 731px !important;}
	#romanVisual ul{height: 731px;}
	#romanVisual ul li {background-size: cover;min-height: 731px;}
	#romanVisual ul li:nth-child(1){background-image: url('../images/main/visual_01_m.png');}
	#romanVisual ul li:nth-child(2){background-image: url('../images/main/visual_02_m.png');}
	#romanVisual ul li:nth-child(3){background-image: url('../images/main/visual_03_m.png');}
	#romanVisual ul li p .phide{width:226px;}
	#romanVisual ul li p {left: 40px;top: 150px;}
}
@media screen and (max-width: 767px) {
	.fp-responsive #romanVisual .fp-tableCell,
	.fp-responsive #romanVisual.section {height: 531px !important;}
	#romanVisual ul{height: 531px;}
	#romanVisual ul li {min-height: 531px;}
}
/*-- 메인 비주얼 */
/* 소개글 및 서비스 소개 */
#romanAbout div.sectionCont > p{
	color: #555555;
	font-size: 17px;
	line-height: 28px;
	word-break: keep-all;
	max-width: 900px;
	margin: 0 auto;
}
#romanAbout div.sectionCont > p + p{
	color: #111111;
	font-size: 21px;
	margin: 10px auto;
}
.serviceBox {
	position: relative;
	padding: 65px 0 0 690px;
	background: url('../images/main/aboutBoxR.png') right bottom no-repeat;
	height: 378px;
	max-width: 1360px;
	margin: 55px 0 0 -80px;
}
.serviceBox .boxL {
	position: absolute;
	left: 0;
	top: 0;
	background: url('../images/main/aboutBoxL.png') 0 0 no-repeat;
	width: 690px;
	height: 378px;
}
.serviceBox .boxL li {position: absolute;}
.serviceBox .boxL li a{
	display: block;
	background-position: center 27px;
	background-repeat: no-repeat;
	background-color: #fff;
	border-radius: 15px;
	width: 170px;
	height: 170px;
	padding: 100px 0 0 0;
	box-shadow: rgba(20, 29, 40, 0.11) 3px 3px 3px;
	border: #fff solid 4px;
	font-size: 18px;
	color: #666666;
	font-weight: 500;
}
.serviceBox .boxL li a strong {
	display: block;
	color: #111111;
}
.serviceBox .boxL li.on a,
.serviceBox .boxL li a:hover{
	border-color: #e42c2a;
	color: #111111;
}
.serviceBox .boxL li.on a strong,
.serviceBox .boxL li a:hover strong {color: #e42c2a;}
.serviceBox .boxL li:nth-child(1) a{background-image: url('../images/main/service_01.png');}
.serviceBox .boxL li:nth-child(2) a{background-image: url('../images/main/service_02.png');}
.serviceBox .boxL li:nth-child(3) a{background-image: url('../images/main/service_03.png');}
.serviceBox .boxL li:nth-child(4) a{background-image: url('../images/main/service_04.png');}

.serviceBox .boxL li:nth-child(1) {left: 264px;top: 54px;}
.serviceBox .boxL li:nth-child(2) {left: 448px;top: 106px;}
.serviceBox .boxL li:nth-child(3) {left: 80px;top: 180px;}
.serviceBox .boxL li:nth-child(4) {left: 265px;top: 238px;}

.serviceBox .boxR {
	text-align: left;
	margin-left: 53px;
}
.serviceBox .boxR h4 {
	font-size: 34px;
	color: #777777;
	font-weight: 500;
	position: relative;
	background-color: #fff;
	display: inline-block;
	padding: 0 20px 30px 0;
}
.serviceBox .boxR h4 strong {
	color: #000;
}
.serviceBox .boxR p {
	padding-right: 54px;
	line-height: 30px;
	font-size: 19px;
	color: #001111;
	word-break: keep-all;
}
.serviceBox .boxR p + p{
	font-weight: 500;
	padding-top: 15px;
}
.serviceBox .boxR .btn_detail {
	position: absolute;
	right: 44px;
	bottom: 24px;
}
@media screen and (max-width: 1564px) {
	.serviceBox {padding-left: calc(50% + 80px);margin-left: -40px;}
	.serviceBox .boxL {width: 50%;background-position: right 0 ;}
	.serviceBox .boxR {margin-left: 0;}
	.serviceBox .boxR p {padding-right: 20px;line-height: 28px;}
	.serviceBox .boxL li:nth-child(1) {left: 204px}
	.serviceBox .boxL li:nth-child(2) {left: 388px}
	.serviceBox .boxL li:nth-child(3) {left: 20px}
	.serviceBox .boxL li:nth-child(4) {left: 205px}
	.serviceBox .boxR h4 {padding: 0 20px 15px 0;}
	.serviceBox .boxR .btn_detail {bottom: 12px;right: 20px;}
}
@media screen and (max-width: 1399px) {
	.serviceBox {padding-left: calc(50% + 60px);}
	.serviceBox .boxL li a {width: 140px;height: 140px;padding-top: 80px;background-size: 53px auto;background-position: center 20px;font-size: 16px;}
	.serviceBox .boxL li:nth-child(1) {left: 164px;top: 29px;}
	.serviceBox .boxL li:nth-child(2) {left: 308px;top: 81px;}
	.serviceBox .boxL li:nth-child(3) {left: 20px;top: 155px;}
	.serviceBox .boxL li:nth-child(4) {left: 165px;top: 213px;}
}
@media screen and (max-width: 1179px) {
	.serviceBox{margin-left: -20px;}
}
@media screen and (max-width: 879px) {
	.serviceBox {padding-left: calc(40% + 60px);}
	.serviceBox .boxL {width: 42%;}
	.serviceBox .boxL li a {
		width: 120px;
		height: 120px;
		padding-top: 60px;
		background-size: 43px auto;
		background-position: center 10px;
	}
	.serviceBox .boxL li:nth-child(1) {left: 84px;top: 29px;}
	.serviceBox .boxL li:nth-child(2) {left: 218px;top: 81px;}
	.serviceBox .boxL li:nth-child(3) {left: 20px;top: 155px;}
	.serviceBox .boxL li:nth-child(4) {left: 155px;top: 213px;}
}
@media screen and (max-width: 767px) {
	.serviceBox {padding: 378px 0 0 0;height: auto;background-image: none;margin-left: 0;}
	.serviceBox .boxL {width: 100%;height:365px;background-image: url('../images/main/aboutBoxL_m.png');}
	.serviceBox .boxR {border: #c6c6c6 solid 1px;padding: 25px;}
	.serviceBox .boxR .btn_detail {position: static;margin-top: 30px;}
	.serviceBox .boxR > div{text-align: center;}
	.serviceBox .boxR h4 {padding: 20px 0;}
	.serviceBox .boxR p {padding-right: 0;}
	.serviceBox .boxL li:nth-child(1) {left: 50%;transform: translateX(-80px);}
	.serviceBox .boxL li:nth-child(2) {left: 50%;transform: translateX(50px);}
	.serviceBox .boxL li:nth-child(3) {left: 50%;transform: translateX(-180px);}
	.serviceBox .boxL li:nth-child(4) {left: 50%;transform: translateX(-50px);}
}
@media screen and (max-width: 424px) {
	.serviceBox .boxL li a {
		width: 100px;
		height: 100px;
		padding-top: 50px;
		background-size: 35px auto;
		background-position: center 10px;
		line-height: 120%;
		font-size: 14px;
	}
	.serviceBox {padding-top: 300px;}
	.serviceBox .boxL{height: 300px;}
	.serviceBox .boxL li:nth-child(1) {transform: translateX(-80px);top: 19px;}
	.serviceBox .boxL li:nth-child(2) {transform: translateX(30px);top: 71px;}
	.serviceBox .boxL li:nth-child(3) {transform: translateX(-130px);}
	.serviceBox .boxL li:nth-child(4) {transform: translateX(-10px);top: 180px;}
	.serviceBox .boxR h4 {font-size: 30px;letter-spacing: -2px;}
	.serviceBox .boxR {padding: 15px 15px 20px;}
}
/*-- 소개글 및 서비스 소개 */
/* 협력사 및 센터안내 */
#romanNetwork {
	background: url('../images/main/network_bg.png') center center repeat-x;
}
.centerList {
	display: flex;
	justify-content: space-between;
}
.centerList > li{
	width: 25%;
}
.centerList > li + li {
	margin-left: 20px;
}
.centerList > li > a {
	display: block;
	height: 100%;
}
.centerList > li > a:hover > div::after{
	content: "";
	display: block;
	border-radius: 15px;
	height: calc(100% - 5px);
	width: calc(100% - 5px);
	position: absolute;
	left: -1px;
	top: 0px;
	border: #e42c2a solid 4px;
	box-shadow: rgba(41,43,45,0.3) 3px 3px 7px;
}
.centerList > li > a > div{
	height: 100%;
	border-radius: 15px;
	background-repeat: no-repeat;
	background-position: calc(100% - 30px) calc(100% - 30px);
	background-color: #fff;
	border: #dbdbdb solid 1px;
	padding: 40px 20px 150px;
	position: relative;
}
.centerList > li:nth-child(1) > a > div{background-image: url('../images/main/center_01.png');}
.centerList > li:nth-child(2) > a > div {background-image: url('../images/main/center_02.png');}
.centerList > li:nth-child(3) > a > div {background-image: url('../images/main/center_03.png');}
.centerList > li:nth-child(4) > a > div {background-image: url('../images/main/center_04.png');}

.centerList > li > a > div h4 {
	color: #000000;
	font-size: 20px;
	padding-bottom: 10px;
}
.centerList > li > a > div p{
	color: #333333;
	font-size: 17px;
	word-break: keep-all;
}
.centerList .btn_detail {
	background-image: url('../images/main/btn_detail2.png');
	color: #fff;
	margin-top: 12px;
	float: right;
}
.centerList > li > a:hover .btn_detail {background-image: url('../images/main/btn_detail3.png');}
.patnerBox {
	margin: 95px 0 0 0;
}
.patnerBox h4{
	color: #ffffff;
	text-align: left;
	font-size: 22px;
	width: 272px;
	float: left;
	background: url('../images/main/partner_bg.png') right center no-repeat;
}
.patnerBox > ul{
	float: right;
	display: flex;
	justify-content: space-between;
	width: 1000px;
}
.patnerBox > ul li{
	border-radius: 15px;
	background-color: #fff;
	margin-left: 8px;
	height: 126px;
	width: calc(100% / 6);
}
.patnerBox > ul li .tit{
	background-color: #f9cfcd;
	border-radius: 15px 15px 0 0;
	color: #111111;
	font-size: 17px;
	line-height: 41px;
}
.patnerBox > ul li .cont{
	padding: 10px 5px;
}
.patnerBox > ul li .cont p{
	padding: 5px 0px 0;
	font-size: 15px;
	color: #333333;
}
@media screen and (max-width:1659px) {
	.patnerBox h4 {background-image: none;width: 120px;}
}
@media screen and (max-width:1499px) {
	.patnerBox {margin-top: 90px;}
	.patnerBox h4, .patnerBox > ul {float: none;}
	.patnerBox h4 {width: 100%;text-align: center;margin: 0 0 25px;}
	.patnerBox > ul {width: 100%;} 
	.patnerBox > ul li:first-child{margin-left: 0;} 
}
@media screen and (max-width:1399px) {
	.centerList > li + li{margin-left: 10px;}
}
@media screen and (max-width:1280px) {
	.patnerBox > ul li .cont p{font-size: 14px;}
}
@media screen and (max-width:1179px) {
	.centerList > li > a > div {padding: 20px 10px 120px;background-position: calc(100% - 20px) calc(100% - 20px);}
}
@media screen and (max-width:879px) {
	.patnerBox > ul li .cont p{word-break: keep-all;}
	.centerList > li > a > div {background-size: auto 100px;background-position: center calc(100% - 20px);}
}
@media screen and (max-width:767px) {
	#romanNetwork {background:#fafafa}
	#romanNetwork  .sectionCont{padding-bottom: 0 !important;}
	.centerList {flex-wrap: wrap;}
	.centerList > li {width: calc(50% - 10px);margin: 5px !important}
	.centerList > li + li {margin: 10px 5px}
	.centerList > li > a > div {padding:20px 10px 80px;background-image: none !important;}
	.centerList > li > a > div h4 {font-weight: 500;}
	.centerList > li > a {position: relative;}
	.centerList .btn_detail {
		position: absolute;
		bottom: 30px;
		left: 50%;
		transform: translateX(-50%);
		color: #000000;
		background-image: url('../images/main/btn_detail.png');
		width: 80px;
	}
	.patnerBox {background-color: #3b3b3b;margin: 0 -15px;padding: 40px 15px;}
	.patnerBox > ul {flex-wrap: wrap;}
	.patnerBox > ul li {width: calc((100% / 3) - 6px);margin: 3px !important;height: auto;}	.patnerBox > ul li .cont p {font-size: 13px;}
}
@media screen and (max-width:424px) {
	.centerList > li > a > div h4 {font-size: 16px;}
	.centerList > li > a > div p {font-size: 14px;}
}

/*-- 협력사 및 센터안내 */

/* 블로그 최신글 */
.tabType01 {
	display: flex;
	justify-content: center;
}
.tabType01 > li > a{
	display: block;
	font-size: 20px;
	color: #555555;
	margin: 0 10px;
	font-weight: 500;
}
.tabType01 > li.on > a, 
.tabType01 > li > a:hover{
	color: #e75250;
	border-bottom: #e75250 solid 2px;
}
.blogList {
	height: 945px;
	overflow-y: hidden;
}
.blogList > li{
	padding: 35px 0 0 25px;
	width: 25%;
}
.blogList > li .gubun {
	font-size: 16px;
}
.blogList > li .date {
	font-size: 15px;
}
.blogList > li .tit {
	color: #111111 !important;
	font-size: 16px !important;
	font-weight: 500 !important;
}
.blogList > li .cont {
	color: #777777 !important;
	font-size: 15px !important;
}
@media screen and (max-width: 1179px) {
	.blogList > li {padding: 25px 0 0 25px;}
	#blogList .btn_more {margin-top: 20px;}
}
@media screen and (max-width: 879px) {
	.blogList {max-height: 640px;overflow-y: hidden;}
	.blogList > li{width:calc(100% / 3);padding: 35px 0 0 10px;}
	.blogList {margin-left: -10px;}
}
@media screen and (max-width: 767px) {
	.blogList > li {width: 100%;}
	.tabType01 > li > a {font-size: 18px;}
	.blogList {max-height: fit-content;}
}
@media screen and (max-width: 424px) {
	.tabType01 > li > a {margin: 0 7px;}
}
@media screen and (max-width: 374px) {
	.tabType01 > li > a {font-size: 16px;margin: 0 5px;}
}
@media screen and (max-height: 1239px) {
	.blogList {height: 630px;}
}
/*-- 블로그 최신글 */
/* 오시는 길 및 상담신청 */
#romanLocal {
	background:url('../images/main/location_bg.png') right bottom no-repeat #f9f9f9;
}
.mapArea {
	height: 505px;
}
.mapArea img{
	height: 100%; /* To. 개발 : 나중에 API넣고 나면 통채로 지워 주세요. */
}
#romanLocal ul {
	display: flex;
	justify-content: space-between;
	margin-top: 20px;
}
#romanLocal ul li {
	width: calc(100% / 3);
}
#romanLocal ul li + li {margin-left: 20px;}
#romanLocal ul li a{
	display: block;
	color: #fff;
	background-repeat: no-repeat;
	background-position: calc(100% - 39px) center;
	border-width: 1px;
	border-style: solid;
	line-height: 82px;
	font-size: 20px;
	text-align: left;
	padding-left: 38px;
}
#romanLocal ul li:nth-child(1) a{
	background-image: url('../images/main/local_01.png');
	background-color: #e42c2a;
	border-color: #b02e31;
}
#romanLocal ul li:nth-child(2) a{
	background-image: url('../images/main/local_02.png');
	background-color: #1c1c1c;
	border-color: #040404;
}
#romanLocal ul li:nth-child(3) a{
	background-image: url('../images/main/local_03.png');
	background-color: #fff;
	border-color: #d4d4d4;
	color: #000000;
}
@media screen and (max-width:1399px) {
	#romanLocal ul li a {background-position: calc(100% - 15px) center;padding-left: 15px;font-size: 18px;}
}
@media screen and (max-width:879px) {
	.mapArea{height: 300px;}
	#romanLocal ul li + li {margin-left: 5px;}
}
@media screen and (max-width:767px) {
	#romanLocal ul {display: block;}
	#romanLocal ul li {width: 100%;}
	#romanLocal ul li + li {margin: 5px 0 0 0;}
}
/*-- 오시는 길 및 상담신청 */
@media screen and (max-width:1740px) {
	#quick{display: none;}
}
#footer {margin-top: 0 !important;}
#footer,
#footer.section.fp-section.fp-table.active.fp-completely, 
#footer .fp-tableCell{
	height: auto !important;
}